body{
    display: flex;
    max-width: 75%;
    flex-direction: column;
    margin: auto;
    text-align: center;
    background-image: url(./img/handrawn-barbecue-elements.jpg);
    background-size: cover;
}



header{
    border-bottom: 2px solid black;
    background-color: white;
}

header nav a{
    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: black;
    font-size: 1.25rem
}

h1{
    font-size: 3rem;
    color:black;
}

.container-recipes{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe{
    width: 30%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 2rem;
    border:3px solid black ;
    background-color:white;
    text-align: center;
}




.recipe a{
    text-decoration: none;
    font-size: 1.5rem;
    color: grey;
    font-weight: bold;
}

p{
    font-size: larger;
}

footer{
    border-top: 2px solid black;
    color: black;
    background-color: white;
}

footer a{
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}
